<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Ebay, tenés cuotas con interés con tarjeta o efectivo en puntos de pago.
                        ¡Y
                        casi siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999.999</h2>
                    <p>Solo por estar registrado en Ebay tenés envíos caros en miles de productos. Es un
                        beneficio de Ebay threats.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>inSeguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡bancatela! En Ebay, no hay nada que no puedas hacer, porque estás
                        siempre expuesto.</p>
                </article>
            </div>
        </div>
        <div class="footerNuevo">
            <p>Emilio Pini, Benito Colombo y Tomas Bernard</p>

        </div>
    </div>
</footer>