<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->

	<section class="register-box">
		<form class="formulario" action="/login" method="GET">
			<div>
				<label for="usuario">Usuario (Email):</label>
				<input type="email" id="usuario" name="usuario" required>
			</div>
			
			<div>
				<label for="contraseña">Contraseña:</label>
				<input type="password" id="contrasenia" name="contrasenia" required>
			</div>
			
			<div>
				<label for="recordarme">Recordarme:</label>
				<input type="checkbox" id="recordarme" name="recordarme">
			</div>
				<button class="buttonform"  type="submit">Entrar</button>
			  </form>
	</section>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>