<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('partials/headerLogueado', { usuario }) %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<form action="/" method="get" class="formulario"> 
			<div>
				 <label for="img">Imagen:</label> 
				 <input type="file" name="img" id="img" required>
				</div>
			<div>
				 <label for="prodName">Nombre del producto:</label>
				 <input type="text" name="prodName" id="prodName" required>
			</div>
			<div> 
				<label for="description">Descripcion:</label>
				<input type="text" name="description" id="description" required>
			</div>
			<button class="buttonform"  type="submit">Subir</button>

		</form>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>