<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
		
			<!-- Show the "ultimos" products -->
		<section class="register-box">
			<form class="formulario" action="/users/registerProcessor" method="POST">
				<div>
				  <label for="email">Email:</label>
				  <input type="email" id="email" name="email">
				</div>
				
				<div>
				  <label for="usuario">Usuario:</label>
				  <input type="text" id="usuario" name="usuario">
				</div>
				
				<div>
				  <label for="contraseniaa">Contraseña:</label>
				  <input type="password" id="contraseniaa" name="contrasenia">
				</div>
				
				<div>
				  <label for="fechaNacimiento">Fecha de Nacimiento:</label>
				  <input type="date" id="fechaNacimiento" name="fechaNacimiento">
				</div>
				
				<div>
				  <label for="nroDocumento">Nro de Documento:</label>
				  <input type="number" id="nroDocumento" name="nroDocumento" required>
				</div>
				
				<div>
				  <label for="fotoPerfil">Foto de Perfil (URL):</label>
				  <input type="text" id="fotoPerfil" name="fotoPerfil">
				</div>
				
				<% if (error) {%>
				<p style="display: flex; justify-content: center; color: red; font-size: 15px; font-weight: bolder;"><%=error%></p>
				<button class="buttonform" style="background-color:red" type="submit">Registrarse</button>
				<% } else {%>
				<button class="buttonform" type="submit">Registrarse</button>
				<% } %>
			  </form>
		</section>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>